---
import Layout from '../layouts/Layout.astro';
import "bootstrap/dist/css/bootstrap.min.css";
import { Image } from 'astro:assets';

export const prerender = true;
---

<Layout title="Snowbound">
	<script src="https://cdn.tailwindcss.com" content="text/javascript"></script>

	<div class="titleContainer flex justify-center" style="background-color: #338eda">
		<img id="a" class="lg:max-w-[80vw] max-w-[100%] pt-[1vw]" src="/banner.svg">
	</div>
	<div class="bodyContainer" style="background-color: #338eda">
		<main>
			<div class="d-flex justify-content-center">
				<!-- <button class="pushable" disabled="true" aria-disabled="true">
					<a class="shadow"></a>
					<a class="edge"></a>
					<a class="front no-underline" href="https://airtable.com/appBosPXrgTp44E6X/pagPCjgNZwc0SXeq6/form" target="_blank" rel="noopener noreferrer">
						Sign up!
					</a>
				</button> -->
			</div>

			<br><br><br>
			<div class="md:grid card-container">
				<div class="about grid-item">
					<p class="grid-content">
						<span style="font-size:max(2.4vw, 32px)">About</span>
						<br>
						Snowbound is a <span class="highlight">hackathon</span>: a social coding event where <span class="hidark">high school and middle schoolers</span> come together to explore their passions, develop team-building skills, and bring their innovative ideas to life.
						<br>
						<br>
						Coders of all skill levels are welcome, and we'll host various <span class="hidark">coding workshops</span> throughout the day.
						<br>
						<br>
						Organized and run by teenagers, Snowbound is more than a just a hackathon; it's a movement to shape the future through innovation and community.
						<br>
						<br>
						Join us in embracing the winter spirit and <span class="hidark">build something awesome!</span>
					</p>
				</div>
				<div class="schedule grid-item">
					<p class="grid-content">
						<span style="font-size:max(2.4vw, 32px)">Schedule</span>
						<br>
						01001100 01101111 01110010 01100101 01101101 00100000 01101001 01110000 01110011 01110101 01101101 00100000 01100100 01101111 01101100 01101111 01110010 00100000 01110011 01101001 01110100 00100000 01100001 01101101 01100101 01110100 00101100 00100000 01100011 01101111 01101110 01110011 01100101 01100011 01110100 01100101 01110100 01110101 01110010 00100000 01100001 01100100 01101001 01110000 01101001 01110011 01100011 01101001 01101110 01100111 00100000 01001100 01101111 01110010 01100101 01101101 00100000 01101001 01110000 01110011 01110101 01101101 00100000 01100100 01101111 01101100 01101111 01110010 00100000 01110011 01101001 01110100 00100000 01100001 01101101 01100101 01110100 00101100 00100000 01100011 01101111 01101110 01110011 01100101 01100011 01110100 01100101 01110100 01110101 01110010 00100000 01100001 01100100 01101001 01110000 01101001 01110011 01100011 01101001 01101110 01100111 00100000
					</p>
				</div>
				<div class="sponsors grid-item">
					<p class="grid-content">
						<span style="font-size:max(2.4vw, 32px)">Sponsors</span>
						<br>
					</p>
					<div class="flex justify-center items-center">	
						<a href="https://shirthappensvt.com/"><img class="w-[45vh] inline-block" src="https://images.squarespace-cdn.com/content/v1/63da8d11c8e6024288a682c4/ab998f60-84b1-436b-9b45-8c10c0901033/Shirt+Happens+Logo+Suite+-+B%26W-09.png" alt="Shirt Happens Logo"></a>
						<a href="https://hackclub.com/"><img class="w-[35vh] inline-block" src="https://assets.hackclub.com/flag-standalone-wtransparent.svg" alt="Hack Club Logo"></a>
					</div>
					<p class="grid-content">
						<br>
						<span>Thank you so much to our sponsors! We couldn't do this without you. Interested in sponsoring? Let us know at <span class="highlight"><a class="text-inherit underline" href="mailto:sponsors@hacksnowbound.com">sponsors@hacksnowbound.com</a></span>.</span>
					</p>
				</div>
				<div class="info grid-item">
					<p class="grid-content">
						<span style="font-size:max(2.4vw, 32px)">More Info</span>
						<br>
						<b>Time:</b> 12:00pm - 40:00pm
						<br>
						<b>Location:</b> Somewhere, Vermont
						<br>
						<b>What to bring:</b> Any kind of laptop, including a school laptop! (If you don't have a laptop, email us at <span class="highlight"><a class="text-inherit underline" href="mailto:jasper@hacksnowbound.com">jasper@hacksnowbound.com</a></span>.)
						<br>

						<b>Cost:</b> Absolutely free! We will provide 01100011 01101001 01101110 01100111 0010000
					</p>
				</div>
				<div class="contact grid-item">
					<p class="grid-content">
						<span style="font-size:max(2.4vw, 32px)">Contact</span>
						<br>
						Questions? Reach out to <span class="highlight"><a class="text-inherit underline" href="mailto:hack@hacksnowbound.com">hack@hacksnowbound.com</a></span>!
					</p>
				</div>
			</div>
			
			<div class="d-flex justify-content-center">
				<!-- <button class="pushable" disabled="true" aria-disabled="true">
					<a class="shadow"></a>
					<a class="edge"></a>
					<a class="front no-underline" href="https://airtable.com/appBosPXrgTp44E6X/pagPCjgNZwc0SXeq6/form" target="_blank" rel="noopener noreferrer">
						Sign up!
					</a>
				</button> -->
			</div>

			<footer class="text-sm text-center italic mt-[5vh]">Snowbound is fiscally sponsored by The Hack Foundation (d.b.a. Hack Club), a 501(c)(3) nonprofit (EIN: 81-2908499). Any donations made to Snowbound are tax deductible.</footer>
		</main>
		<script>
		import snowf from 'snowf'; 
		var snowflakes=snowf.init({'amount':100}); 
		window.onresize=function(){snowflakes.resize();}; 
		var canv = document.getElementsByClassName("snowf-canvas")[0]
		canv.style = "position: absolute; top: 0px; left: 0px; pointer-events: none;";
		document.getElementsByClassName("bodyContainer")[0].appendChild(canv);
		snowflakes.resize();
		</script>
	</div>
	
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	.titleContainer {
		padding-top: 10vh;
	}

	body {
		font-family: 'Rowdies', sans-serif;
		--bs-body-font-size: 30px;
		color: white;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 150ch;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.pushable {
		position: relative;
		border: none;
		background: transparent;
		padding: 0;
		cursor: pointer;
		outline-offset: 4px;
		transition: filter 250ms;
  	}
  	.shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		background: hsl(0deg 0% 0% / 0.25);
		will-change: transform;
		transform: translateY(2px);
		transition:
			transform
			600ms
			cubic-bezier(.3, .7, .4, 1);
  	}
  	.edge {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		background: #00abff;
  	}
  	.front {
    	display: block;
		position: relative;
		padding: 12px 42px;
		border-radius: 12px;
		color: white;
		background: #66ccff;
		will-change: transform;
		transform: translateY(-4px);
		transition:
			transform
			600ms
			cubic-bezier(.3, .7, .4, 1);
	}
	.pushable:hover {
		filter: brightness(110%);
	}
	.pushable:hover .front {
		transform: translateY(-6px);
		transition:
			transform
			250ms
			cubic-bezier(.3, .7, .4, 1.5);
	}
	.pushable:active .front {
		transform: translateY(-2px);
		transition: transform 34ms;
	}
	.pushable:hover .shadow {
		transform: translateY(4px);
		transition:
			transform
			250ms
			cubic-bezier(.3, .7, .4, 1.5);
	}
	.pushable:active .shadow {
		transform: translateY(1px);
		transition: transform 34ms;
	}
	.pushable:focus:not(:focus-visible) {
		outline: none;
	}

	.grid-item {
		width: min(50%, 400px)*2;
		/* width: 500px; */
		font-size: max(1.2vw, 16px);
		margin: 1.5vw;
		margin-top: 30px;

		background-color: #66ccff;
		border-radius: 25px;
		box-shadow: 0px 8px #00abff;
		padding: .5vw;
	}

	.grid-content {
		margin: 15px;
	}

	.highlight, .hidark {
		border-radius: 8px;
		padding-left: 5px;
  		padding-right: 5px;
	}

	.highlight {
		background-image: var(--astro-gradient);
		animation: pulse 3s ease-in-out infinite;
		background-size: 100% 200%;
		background-position-y: 100%;
	}

	.hidark {
		background-color: #338eda;
	}
	




	.card-container {
		/* display: grid;  */
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: 0fr 0fr 0fr; 
		gap: 0px 0px; 
		grid-template-areas: 
			"schedule about"
			"sponsors sponsors"
			"info contact";
	}
	.schedule { grid-area: schedule; }
	.about { grid-area: about; }
	.sponsors { grid-area: sponsors; }
	.info { grid-area: info; }
	.contact { grid-area: contact; }

</style>
