---
import Layout from "../layouts/Layout.astro";
import "bootstrap/dist/css/bootstrap.min.css";
import { Image } from "astro:assets";

export const prerender = true;
---

<Layout title="Snowbound">
  <script src="https://cdn.tailwindcss.com"></script>

  <div class="titleContainer flex justify-center" style="position: relative;">
    <img
      id="a"
      class="lg:max-w-[80vw] max-w-[100%] pt-[1vw]"
      src="/banner.svg"
      style="margin-bottom: 100px;"
    />
    <div class="curve" style="position: absolute; bottom: -25%; left: 10%">
    </div>
    <div class="curve" style="position: absolute; left: -25%; bottom: -25%">
    </div>
    <div class="curve" style="position: absolute; left: 50%; bottom: -25%">
    </div>
  </div>
  <div class="bodyContainer" style="margin: 10px;">
    <div class="registrationContainer infoBox">
      <a
        href="https://singlefeather.fillout.com/register-for-snowbound"
        class="register">Register for Snowbound!</a
      >

      <div class="infoContainer">
        <div class="aboutContainer infoBox">
          <h1>About</h1>
          <p>
            <br />
            Snowbound is a <span class="highlight"
              ><a
                class="text-inherit"
                href="https://en.wikipedia.org/wiki/Hackathon">hackathon</a
              ></span
            >: a social coding event where <span class="hidark"
              >high school and middle schoolers</span
            > come together to explore their passions, develop team-building skills,
            and bring their innovative ideas to life.
            <br />
            <br />
            Coders of all skill levels are welcome, and we'll host various <span
              class="hidark">coding workshops</span
            > throughout the day.
            <br />
            <br />
            Organized and run by teenagers, Snowbound is more than a just a hackathon;
            it's a movement to shape the future through innovation and community.
            <br />
            <br />
            Join us in embracing the winter spirit and <span class="hidark"
              >build something awesome!</span
            >
          </p>
        </div>
        <div class="moreInfoContainer infoBox">
          <h1>More Info</h1>
          <br />
          <b>Time:</b> 3:00pm March 22nd - 3:00pm March 23rd
          <br />
          <b>Location:</b> Shelburne, Vermont
          <br />
          <b>What to bring:</b> Any kind of laptop, including a school laptop! (If
          you don't have a laptop, email us at <span class="highlight"
            ><a class="text-inherit" href="mailto:jasper@hacksnowbound.com"
              >jasper@hacksnowbound.com</a
            ></span
          >.)
          <br />
          <b>Cost:</b> Absolutely free! We will provide food and any other supplies
          necessary.
          <br />
          <br />
          More questions? Reach out to <span class="highlight"
            ><a class="text-inherit" href="mailto:core@hacksnowbound.com"
              >core@hacksnowbound.com</a
            ></span
          >!
          <br />
        </div>
        <div class="scheduleContainer infoBox">
          <h1>Schedule</h1>
          <br />
          <ul>
            <li class="scheduleEvent">
              <div class="scheduleEventTime">9:00</div>
              <div class="scheduleEventDescription">Event 1</div>
            </li>
            <li class="scheduleEvent">
              <div class="scheduleEventTime">10:30</div>
              <div class="scheduleEventDescription">Event 2</div>
            </li>
            <li class="scheduleEvent">
              <div class="scheduleEventTime">12:30</div>
              <div class="scheduleEventDescription">Event 3</div>
            </li>
            <li class="scheduleEvent">
              <div class="scheduleEventTime">1:30</div>
              <div class="scheduleEventDescription">Event 4</div>
            </li>
            <li class="scheduleEvent">
              <div class="scheduleEventTime">3:00</div>
              <div class="scheduleEventDescription">Event 5</div>
            </li>
            <li class="scheduleEvent">
              <div class="scheduleEventTime">6:00</div>
              <div class="scheduleEventDescription">Event 6</div>
            </li>
            <li class="scheduleEvent">
              <div class="scheduleEventTime">7:00</div>
              <div class="scheduleEventDescription">Event 7</div>
            </li>
            <li class="scheduleEvent">
              <div class="scheduleEventTime">9:00</div>
              <div class="scheduleEventDescription">Event 8</div>
            </li>
          </ul>
        </div>

        <div class="teamContainer infoBox">
          <h1>Team</h1>
          <br />
          This section needs to be written.<br />
          This section needs to be written.<br />
          This section needs to be written.<br />
          This section needs to be written.<br />
          This section needs to be written.<br />
        </div>

        <div class="sponsorContainer infoBox">
          <h1>Sponsors</h1>
          <br />
          <a href="https://shirthappensvt.com/"
            ><img
              class="w-[35vh] inline-block sponsorImage"
              src="https://images.squarespace-cdn.com/content/v1/63da8d11c8e6024288a682c4/ab998f60-84b1-436b-9b45-8c10c0901033/Shirt+Happens+Logo+Suite+-+B%26W-09.png"
              alt="Shirt Happens Logo"
            /></a
          >
          <a href="https://hackclub.com/"
            ><img
              class="w-[40vh] inline-block sponsorImage"
              src="https://assets.hackclub.com/flag-standalone-wtransparent.svg"
              alt="Hack Club Logo"
            /></a
          >
          <br />
          <br />
          Interested in sponsoring? Email us at <a
            class="highlight text-inherit"
            href="mailto:sponsor@hacksnowbound.com">sponsor@hacksnowbound.com</a
          >
        </div>
      </div>
    </div>
    <script>
      import snowf from "snowf";
      var snowflakes = snowf.init({ amount: 100 });
      window.onresize = function () {
        snowflakes.resize();
      };
      var canv = document.getElementsByClassName("snowf-canvas")[0];
      canv.setAttribute(
        "style",
        "position: absolute; top: 0px; left: 0px; pointer-events: none; z-index: 100;"
      );
      document.getElementsByClassName("bodyContainer")[0].appendChild(canv);
      snowflakes.resize();
    </script>
    <footer class="">
      <div class="text-sm text-center italic mt-[1.5vh]">
        Snowbound is fiscally sponsored by The Hack Foundation (d.b.a. Hack
        Club), a 501(c)(3) nonprofit (EIN: 81-2908499). Any donations made to
        Snowbound are tax deductible.
      </div>
    </footer>
  </div>

  <style>
    html {
      --info-box-color: #2aa7e5;
      --color-bg: #3bb2ed;
      --footer-text-color: #00689c;
      --main-body-color: rgb(214, 246, 255);
    }
    .curve {
      position: absolute;
      height: 50%;
      width: 100%;
      bottom: 0;
      text-align: center;
    }

    .curve::before {
      content: "";
      display: block;
      border-radius: 100% 50%;
      width: 55%;
      height: 100%;
      background-color: var(--main-body-color);
      z-index: 0;
    }
    .infoBox {
      background-color: var(--info-box-color);
      box-shadow: 0px 6px #00689c;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 30px;
      width: 80%;
      min-width: min-content;
      margin: 20px 0px;
      cursor: pointer;
      border-radius: 12px;
      padding: 15px 20px;
      transition: all 0.3s ease 0s;
      z-index: 1;
    }
    .infoBox:hover {
      box-shadow: 0px 10px #00689c;
      position: relative;
      transform: translateY(-4px);
    }
    .infoContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 20px;
    }
    :root {
      --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
    }

    .listContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .titleContainer {
      padding-top: 10vh;
      padding-bottom: 10vh;
      background-color: var(--color-bg);
    }
    .sponsorfooter {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 50px;
    }

    footer {
      background-color: var(--main-body-color);
      color: var(--footer-text-color);
    }

    body {
      font-family: "Rowdies", sans-serif;
      --bs-body-font-size: 30px;
      color: white;
      background-color: var(--main-body-color);
    }

    @keyframes pulse {
      0%,
      100% {
        background-position-y: 0%;
      }
      50% {
        background-position-y: 80%;
      }
    }

    @keyframes hover {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-5px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .schedule-text {
      font-size: 25px;
      font-weight: normal;
    }
    .pushable {
      position: relative;
      border: none;
      background: transparent;
      padding: 0;
      cursor: pointer;
      outline-offset: 4px;
      transition: filter 250ms;
    }
    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: hsl(0deg 0% 0% / 0.25);
      will-change: transform;
      transform: translateY(2px);
      transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    }
    .edge {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: #00abff;
    }
    .front {
      display: block;
      position: relative;
      padding: 12px 42px;
      border-radius: 12px;
      color: white;
      background: #66ccff;
      will-change: transform;
      transform: translateY(-4px);
      transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    }
    .pushable:hover {
      filter: brightness(110%);
    }
    .pushable:hover .front {
      transform: translateY(-6px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }
    .pushable:active .front {
      transform: translateY(-2px);
      transition: transform 34ms;
    }
    .pushable:hover .shadow {
      transform: translateY(4px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }
    .pushable:active .shadow {
      transform: translateY(1px);
      transition: transform 34ms;
    }
    .pushable:focus:not(:focus-visible) {
      outline: none;
    }

    .info-box {
      margin-top: 20px;
      background-color: #66ccff;
      border-radius: 25px;
      box-shadow: 0px 8px #00abff;
      max-width: max-content;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      padding: 20px;
      /* center items */
      align-items: center;
      /*text-align: center;*/
    }

    ul {
      list-style-type: none;
      padding: 0;
      align-items: center;
      text-align: center;
      max-width: 100%;
      flex: auto;
    }

    ul.scheduleEvent {
      margin-top: 10px;
      background: var(--color-list-item);
      border-radius: 10px;
      max-width: 90%;
      font-size: 25px;
      margin: auto;
      margin-top: 10px;
      text-align: left;
      box-shadow: 0px 6px #00689c;
      display: flex;
    }
    .scheduleEventTime {
      font-weight: normal;
      font-size: 25px;
      height: auto;
      padding: 8px;
      background: linear-gradient(
        0deg,
        rgb(102 204 255) 0%,
        rgb(127, 212, 255) 100%
      ); /*rgb(102 204 255);*/

      position: relative;
      left: 0px;
      width: 80px;
      border-radius: 10px 0px 0px 10px;
      margin-right: 10px;
    }
    .scheduleEventDescription {
      font-weight: normal;
      font-style: italic;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    ul.li:hover {
      animation: shake 5s infinite;
    }

    .pushable {
      position: relative;
      border: none;
      background: transparent;
      padding: 0;
      cursor: pointer;
      outline-offset: 4px;
      transition: filter 250ms;
    }
    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: hsl(0deg 0% 0% / 0.25);
      will-change: transform;
      transform: translateY(2px);
      transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    }
    .edge {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: #00abff;
    }
    .front {
      display: block;
      position: relative;
      padding: 12px 42px;
      border-radius: 12px;
      color: white;
      background: #66ccff;
      will-change: transform;
      transform: translateY(-4px);
      transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    }
    .pushable:hover {
      filter: brightness(110%);
    }
    .pushable:hover .front {
      transform: translateY(-6px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }
    .pushable:active .front {
      transform: translateY(-2px);
      transition: transform 34ms;
    }
    .pushable:hover .shadow {
      transform: translateY(4px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }
    .pushable:active .shadow {
      transform: translateY(1px);
      transition: transform 34ms;
    }
    .pushable:focus:not(:focus-visible) {
      outline: none;
    }
    .grid-item {
      width: min(50%, 400px) * 2;
      /* width: 500px; */
      font-size: max(1.2vw, 16px);
      margin: auto;
      margin-top: 30px;

      background-color: #66ccff;
      border-radius: 25px;
      box-shadow: 0px 8px #00abff;
      padding-bottom: 2px;
    }

    .grid-content {
      margin: 15px;
    }

    .highlight,
    .hidark {
      border-radius: 8px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .highlight {
      background-image: var(--astro-gradient);
      animation: pulse 3s ease-in-out infinite;
      background-size: 100% 200%;
      background-position-y: 100%;
    }

    .hidark {
      background-color: #338eda;
    }

    .column-right-buffer {
      display: none;
    }

    .hidark {
      background-color: #1266aa;
    }

    /* for phone */
    @media screen and (max-width: 600px) {
      .infoBox {
        font-size: 20px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    .column-left-buffer {
      display: none;
    }

    @media (min-width: 800px) {
      .row {
        display: flex;
      }

      .column-left {
        flex: 50%;
        padding-right: 7.5px;
      }

      .column-right {
        flex: 50%;
        padding-left: 7.5px;
      }

      .column-right-buffer {
        display: block;
      }

      .column-left-buffer {
        display: block;
      }
    }
  </style>
</Layout>
