---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=2" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Snowbound is a Vermont Hackathon (social coding event) in Shelburne, happening March 22-23 2024. Snowbound will be completely free. Sign up today!"
    />
    <meta
      name="keywords"
      content="hackathon, hackathons, vermont, kids, coding, snowbound, free"
    />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.hacksnowbound.com/" />
    <meta property="og:title" content="Snowbound - A Hackathon in Vermont" />
    <meta
      property="og:description"
      content="Snowbound is a Vermont Hackathon (social coding event), happening in March 2024. Snowbound will be completely free. Sign up today!"
    />
    <meta property="og:image" content="/hsbthumb.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.hacksnowbound.com/" />
    <meta
      property="twitter:title"
      content="Snowbound - A Hackathon in Vermont"
    />
    <meta
      property="twitter:description"
      content="Snowbound is a Vermont Hackathon (social coding event), happening in March 2024. Snowbound will be completely free. Sign up today!"
    />
    <meta property="twitter:image" content="/hsbthumb.png" />

    <script
      async
      src="https://analytics.eu.umami.is/script.js"
      data-website-id="e0690059-2d36-4a30-9934-12ee1c9ce865"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style>
  :root {
    --font-size-base: clamp(0rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    --color-text: hsl(12, 5%, 4%);
    --color-bg: #338eda;
    --color-list-item: linear-gradient(0deg, #459fe9 0%, #5bb5ff 100%);
    --color-border: hsl(17, 24%, 90%);
  }

  html {
    font-family: "Rowdies", sans-serif;
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  body {
    margin: 0;
  }

  :global(h1) {
    font-size: var(--font-size-xl);
  }

  :global(h2) {
    font-size: var(--font-size-lg);
  }

  :global(code) {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      Rowdies;
  }
</style>
